# Ignoring workspaces files from Proteus

hardware/*.workspace
hardware/*.pdsbak


# ignore workspaces files from Atmel Studio
firmware/Debug/
firmware/Release/
firmware/firmware.componentinfo.xml


# Visual Studio
.vs/
